name: CI/CD Pipeline DevOps

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Instalar dependencias
      run: pip install -r requirements.txt

    - name: Ejecutar pruebas
      run: pytest

    - name: Login Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/hola-devops:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/hola-devops:latest
